<footer class="topnav">
    <div class="footer-copyright">
        <div class="container">
            Articles used for project belong to <a href='https://www.seattletimes.com/sports/' target="_blank">Seattle Times Sports</a>
            <a class="grey-text text-lighten-4 right" href="/articles-json">JSON Article Data</a>
        </div>
    </div>
</footer>